*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:linear-gradient(135deg,#4facfe,#00f2fe);

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:30px;
border-radius:15px;
width:360px;
text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.2);

}

h1{

margin-bottom:20px;

}

.search{

display:flex;
gap:10px;

}

input{

flex:1;
padding:10px;
font-size:16px;

}

button{

padding:10px 15px;

background:#0077ff;
color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#0055cc;

}

.info{

margin-top:20px;

}

.info p{

margin:12px;
font-size:18px;

}

.hidden{

display:none;

}

#message{

margin-top:20px;
font-weight:bold;

color:red;

}